@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: #000;
  /* Typo */
  color: #fff;
  font-weight: 100;
  font-family: "Noto Sans KR", sans-serif;
}
